.count-display {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.btn-input-holder {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  background-color: purple;
  font-size: 15px;
  border: none;
  color: white;
}

.btn:hover {
  background-color: black;
  color: purple;
}
